<table class="table-striped-custom">
    <thead>
        <th>BATCH</th>
        <th>START DATE</th>
        <th>END DATE</th>
        <th class="static-field text-danger" style="font-weight: normal;" > {{batchesValidated?'':'Incomplete Details'}} </th>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of batches; let idx = index">
            <tr class="first-row" >
                <td class="bold-text p-2 static-field" [ngClass]="{'text-danger': !data.validated}" > Batch {{idx+1}} </td>
                <td class="date-field" >
                    <app-date-picker [ngStyle]="{'border':data.validationObj.startDate?'':'dotted red'}" [date]="data.startDate" (setDate)="setStartDate($event, idx)"  ></app-date-picker>
                </td>
                <td class="date-field" >
                    <app-date-picker [ngStyle]="{'border':data.validationObj.endDate?'':'dotted red'}" [date]="data.endDate" (setDate)="setEndDate($event, idx)" ></app-date-picker>
                </td>
                <td class="p-2 static-field">

                    <div class="input-group">

                        <!-- action button -->
                        <div ngbDropdown>
                            <button id="dropdownBasic1" ngbDropdownToggle class="option btn btn-outline-secondary calendar"
                                type="button"></button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <div>
                                    <button (click)="reset(idx)" class="unstyled-button" ngbDropdownItem>
                                        <i class="fa fa-undo text-success" aria-hidden="true"></i>&nbsp;
                                        <span>Reset</span>
                                    </button>
                                </div>
                                <div>
                                    <button (click)="clear(idx)" class="unstyled-button" ngbDropdownItem>
                                        <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>&nbsp;
                                        <span class="text-danger" >Delete</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- collapse/expand button -->
                            <button id="dropdownBasic2" class="btn btn-outline-secondary calendar"
                            [ngClass]="{expanded:data.isExpanded, collapsed:!data.isExpanded}"    
                            (click)="data.isExpanded = !data.isExpanded"
                            type="button"></button>
                    </div>
                </td>
            </tr>
            <ng-container >
                <tr [hidden]="!data.isExpanded"  >
                    <td></td>
                    <td colspan="3" class="p-3" >
                        <!-- Course name -->
                        <div class="form-group">
                            <label class="form-label bold-text">Course Location</label>
                            <div>
                                <select class="custom-select col-12 col-md-6 col-lg-6" [(ngModel)]="batches[idx].courseLocation" >
                                    <option [value]="undefined" selected>Search Location</option>
                                    <option value="1">Kolkata</option>
                                    <option value="2">Bengaluru</option>
                                    <option value="3">Mumbai</option>
                                  </select>    
                            </div>
                            <span [ngStyle]="{visibility: data.validationObj.courseLocation || batches[idx].courseLocation  ? 'hidden':'visible' }" class="text-danger" > Select Course Location </span>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label bold-text">Course Language</label>
                                    <app-multi-checkbox-selector (change)="setLanguages($event, idx)" ></app-multi-checkbox-selector>
                                </div>
                                <span [ngStyle]="{visibility: data.validationObj.courseLanguages ? 'hidden':'visible' }" class="text-danger" > Select at least one language </span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label bold-text">Course Cost(Ex GST)</label>
                                    <input [(ngModel)]="batches[idx].courseCost" type="number" min="0" class="form-control" placeholder="Rs." />
                                    <span [ngStyle]="{visibility: data.validationObj.courseCost ? 'hidden':'visible' }" class="text-danger" > 
                                        {{data.courseCost==undefined? 'Set the course cost':''}}
                                        {{data.courseCost < 0 ? 'Set the valid value':''}}
                                    </span>

                                </div>
                            </div>


                            <!-- weekend course radio -->
                            <span>Is there a weekend course? &nbsp;&nbsp;
                            <span>
                                <label style="cursor: pointer;" (click)="batches[idx].weekendCourse = 'yes'" >
                                    <input [id]="'weekend-course-yes-'+idx" type="radio" value="yes" name="weekendCourse" [(ngModel)]="batches[idx].weekendCourse">
                                    <label aria-label="img-label">&nbsp;</label>
                                    Yes
                                </label>
                            </span>
                            &nbsp;&nbsp;
                            <span>
                                <label style="cursor: pointer;" (click)="batches[idx].weekendCourse = 'no'">
                                    <input [id]="'weekend-course-no-'+idx" type="radio" value="no" name="weekendCourse" [(ngModel)]="batches[idx].weekendCourse">
                                    <label aria-label="img-label">&nbsp;</label>
                                    No
                                </label>
                            </span>
                            <div [ngStyle]="{visibility: data.validationObj.weekendCourse || batches[idx].weekendCourse ? 'hidden':'visible' }" class="text-danger" > Select the weekend course option </div>
                        </span>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </ng-container>
    </tbody>
</table>
<div style="padding:20px 0px;" >
    <span (click)="addCourse()" class="add-course-span" > <img src="assets/images/ic_addcourse.png"> ADD ANOTHER COURSE DATE</span>
</div>