.datepicker-only-month-select  { border: 0 !important;}

.datepicker-only-month-select .ngb-dp-months { display: none !important; } 

.top-padding-7{
    padding-top:7px;
}

input:focus{
    outline: none;
}